svg.svg-grid {
  // content-visibility: auto;

  line {
    opacity: 0.1;
    stroke: var(--svg-color);
    stroke-width: 0.1;
    fill: none;
    stroke-linecap: round;
  }

  // Ignore other styles as they are animated via springs
  path {
    fill: none;
    stroke-linecap: round;
  }
}
